@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dynalight&display=swap');

/*Persian Fonts */
@font-face {
    font-family: IRANSans;
    src: url('../fonts/IRANSansWeb.ttf');
    src: url('../fonts/IRANSansWeb_Light.ttf');
    src: url('../fonts/IRANSansWeb_Medium.ttf');
    src: url('../fonts/IRANSansWeb_UltraLight.ttf');
}

@font-face {
    font-family: IRANSans;
    font-weight: bold;
    src: url('../fonts/IRANSansWeb_Bold.ttf');
}

@font-face {
    font-family: IRANSans;
    font-weight: 500;
    src: url('../fonts/IRANSansWeb_Medium.ttf');
}

@font-face {
    font-family: IRANSans;
    font-weight: 400;
    src: url('../fonts/IRANSansWeb_Light');
}

@font-face {
    font-family: 'A Shekari';
    src: url('../fonts/AShekari.ttf');
}

:root {
    --brown-color: #B68E52;
    --white-color: #FFFFFF;
    --gray-color: #898989;
    --black-color: #1B1B1B;

    /*--- Main Persian Font*/
    --main-pe-font: 'IRANSans', sans-serif;
    --second-pe-font: 'A Shekari';

    /*--- Main English Font*/
    --main-en-font: 'Lato', sans-serif;
    --second-en-font: 'Dynalight', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s ease;
}

html {
    font-size: 14px;
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-pe-font);
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

.mini-col {
    flex: 1 1 50%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.btn {
    padding: 0.5rem 3rem;
    font-family: var(--main-pe-font);
    font-size: 15px;
}

.title {
    font-family: var(--second-pe-font);
    color: var(--brown-color);
    font-size: 3rem;
    text-align: center;
}

.subtitle {
    font-size: 1.3rem;
    color: var(--black-color);
    text-align: center;
    font-weight: 500;
    margin: 2rem 0;
}

/*--------------------------------------------------------*/


/* ---- Navbar section ----*/

.navbar {
    right: -200px;
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #151718;
    transition: .5s ease-in-out;
    z-index: 999;
}

.navbar.nav-active {
    right: 0;
}

.menu-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.menu-area .nav-item {
    padding: 20px 0;
}

.menu-area .nav-link {
    color: var(--white-color);
    font-size: 15px;
    font-family: var(--main-pe-font);
}

.menu-area .nav-link:hover {
    color: var(--brown-color);
}

.navbar .bars {
    position: absolute;
    top: 30px;
    right: 250px;
    font-size: 30px;
    cursor: pointer;
}

.navbar .icon-bars {
    color: var(--gray-color);
}

/* ---- Slide section ----*/
.slide {
    width: 100%;
    height: 100vh;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-top-title {
    font-family: 'A Shekari';
    color: var(--brown-color);
    font-size: 4rem;
    text-align: center;
}

.slide-title {
    font-family: var(--main-pe-font);
    font-size: 4rem;
    word-spacing: 0.5rem;
    font-weight: 400;
    text-align: center;
    color: var(--white-color);
    margin: 2rem 0;
}

.slide-sub-title {
    font-family: var(--main-pe-font);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--brown-color);
}

/* ---- About section ----*/
.about-section {
    width: 100%;
    height: auto;
    background-color: var(--black-color);
}

.about-section .container {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-img {
    width: 180px;
    height: 180px;
    border-radius: 100px;
    overflow: hidden;
    margin: 9rem 0 5rem 0;
}

.about-img img {
    width: 100%;
    height: 100%;
}

.about-title {
    font-family: var(--second-pe-font);
    color: var(--brown-color);
    font-size: 30px;
    text-align: center;
}

.about-sub-title {
    font-family: var(--main-pe-font);
    font-size: 3rem;
    word-spacing: 0.5rem;
    font-weight: 400;
    text-align: center;
    color: var(--white-color);
    margin: 2rem 0;
    text-align: center;
}

.about-para {
    direction: rtl;
    text-align: justify;
    color: var(--gray-color);
    font-weight: 500;
}

.about-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin: 3rem 0 5rem 0;
}

.about-download-btn {
    background-color: var(--white-color);
    color: var(--black-color);
}

.about-hire-btn {
    background-color: var(--brown-color);
    color: var(--white-color);
}

.skill-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
    gap: 2rem;
    padding-bottom: 11rem;
}


.process-area {
    padding-top: 2.2rem;
}

.process-title {
    color: var(--white-color);
    font-weight: 400;
    font-size: 12px;
    margin-top: 1rem;
    margin-bottom: 10px;
}

.my-process {
    width: 100%;
    height: 2px;
    background-color: var(--gray-color);
}

.mybar {
    height: 2px;
    background-color: var(--brown-color);
}

.mybar1 {
    width: 90%;
}

.mybar2 {
    width: 60%;
}

.mybar3 {
    width: 80%;
}

.mybar4 {
    width: 75%;
}

.mybar5 {
    width: 80%;
}

.mybar6 {
    width: 95%;
}

/* ---- services section ----*/

.services {
    width: 100%;
    padding: 12rem 0;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.service-box {
    width: 400px;
    height: 200px;
    /* background-color: green; */
    text-align: right;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.icon-box {
    color: var(--brown-color);
    font-size: 1.8rem;
}

.service-box-title {
    font-family: var(--main-pe-font);
    font-weight: 500;
    margin: 1.5rem 0;
}

/* ---- services section ----*/
.work-section {
    width: 100%;
    padding: 12rem 0;
}

.work-box {
    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: center center;
    background-color: var(--gray-color);
}

.work-box-wrapper {
    width: 100%;
    height: 100%;
    background-color: #b68e52af;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.work-box-title {
    color: var(--white-color);
    font-size: 20px;
    font-weight: 200;

}

.work-box:hover .work-box-wrapper {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.box1 {
    background-image: url('../img/item.png');
}

.box2 {
    background-image: url('../img/item2.png');
}

.box3 {
    background-image: url('../img/item3.png');
}

.box4 {
    background-image: url('../img/item4.png');
}

.box5 {
    background-image: url('../img/item5.png');
}

.box6 {
    background-image: url('../img/item6.png');
}
/* ---- services section ----*/