@media screen and (max-width:1400px) {}

@media screen and (max-width:1200px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (max-width:992px) {
    .container {
        max-width: 960px;
    }

    .mini-col {
        flex: 1 1 90%;
    }

    /* ---- About section ----*/
    .about-section {
        padding: 5rem;
    }

    /* ---- services section ----*/
    .service-box {
        width: 25%;
        height: 220px;
    }

}

@media screen and (max-width:768px) {
    .container {
        max-width: 720px;
    }

    /* ---- About section ----*/
    .skill-area {
        gap: 0;
        flex-wrap: wrap;
        padding: 4rem;
    }

    /* ---- services section ----*/
    .service-box {
        width: 90%;
        height: 200px;
    }
}

@media screen and (max-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (max-width:576px) {
    .container {
        max-width: 540px;
    }
}